<div class="container">
    <div class="row">
        <mat-card class="col-6">
            <mat-card-title>Login</mat-card-title>
            <mat-card-content class="col-12">
                <form [formGroup]="form" id="login-form">
                    <mat-form-field appearance="outline">
                        <mat-label>Login or email</mat-label>
                        <input matInput formControlName="username">
                        <mat-error *ngIf="f.username.errors">
                            {{errorMessages.required}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix
                                (click)="hidePassword = !hidePassword"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hidePassword">
                            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="f.password.errors">
                            {{errorMessages.required}}
                        </mat-error>
                    </mat-form-field>
                </form>
                <mat-error *ngIf="loginFailed" class="main-error">
                    {{errorMessages.incorrectCredentials}}
                </mat-error>
                <div class="buttons">
                    <button mat-flat-button class="main-button" color="primary" (click)="onMainClick()" [disabled]="waiting" form="login-form" type="submit">
                        <span *ngIf="!waiting">Login</span>
                        <span *ngIf="waiting">Processing...</span>
                    </button>
                    <button mat-stroked-button class="secondary-button" color="primary" (click)="onSecondaryClick()">Sign up</button>
                </div>
                <div class="lost-password" (click)="onLostPasswordClick()">
                    <span class="text-link">Lost your password?</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
