<div class="container">
    <div class="row">
        <mat-card class="col-6">
            <mat-card-title>New password</mat-card-title>
            <mat-card-content class="col-12">
                <form [formGroup]="form" id="password-update-form">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hidePasswordMain ? 'password' : 'text'" formControlName="passwordMain">
                        <button mat-icon-button matSuffix
                                (click)="hidePasswordMain = !hidePasswordMain"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hidePasswordMain">
                            <mat-icon>{{hidePasswordMain ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="f.passwordMain.errors">
                            <div *ngIf="f.passwordMain.errors.minlength || f.passwordMain.errors.required">
                                {{errorMessages.minLength}}
                            </div>
                            <div *ngIf="f.passwordMain.errors.maxlength">
                                {{errorMessages.maxLength}}
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password confirm</mat-label>
                        <input matInput [type]="hidePasswordConfirm ? 'password' : 'text'" formControlName="passwordConfirm">
                        <button mat-icon-button matSuffix
                                (click)="hidePasswordConfirm = !hidePasswordConfirm"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hidePasswordConfirm">
                            <mat-icon>{{hidePasswordConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="f.passwordConfirm.errors">
                            {{errorMessages.passwordConfirm}}
                        </mat-error>
                    </mat-form-field>
                </form>
                <div class="buttons">
                    <button mat-flat-button class="main-button" color="primary" (click)="onMainClick()" [disabled]="waiting || tokenCheck" form="password-update-form" type="submit">
                        <span *ngIf="!waiting">Update</span>
                        <span *ngIf="waiting">Processing...</span>
                    </button>
                    <button mat-stroked-button class="secondary-button" color="primary" (click)="onSecondaryClick()">Go back</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
